<div class="container-fluid">

    <h1>{{message}}</h1>

    <div class="row">
        <form class="form-inline" (ngSubmit)="addAssignment()" #assignmentForm="ngForm">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAssignment">Assignment</label>
                <input type="text" class="form-control" id="exampleInputAssignment" placeholder="Name of the assignment ..." name="assignment" [(ngModel)]="assignment.name"
                    required>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!assignmentForm.valid">Create new Assignment</button>
        </form>
    </div>

    <div class="row" *ngIf="assignments.length > 0">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let assignment of assignments; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{assignment.name}}</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-xs btn-info" (click)="showEdit(assignment)" >Edit</button>
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-xs btn-danger" (click)="deleteAssignment(assignment)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" *ngIf="assignments.length <= 0">
        <span>No items found</span>
    </div>
    
    
    <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Edit {{selectedAssignment.name}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputAssignment">Assignment</label>
                        <input type="text" class="form-control" id="exampleInputAssignment" placeholder="Name of the assignment ..." name="assignment" [(ngModel)]="selectedAssignment.name"
                               required>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    
</div>