@using R3Use.Web
@using R3Use.Web.ViewModels

@{
    ViewData["Title"] = "Home Page";
}

<div class="panel panel-default">
    <a asp-controller="Assignment"
       asp-action="Create">Create new assignment</a>
</div>