@model System.Collections.Generic.IList<R3Use.Web.ViewModels.AssignmentViewModel>

@using R3Use.Web
@using R3Use.Web.ViewModels

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
            {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
            </tr>
        }
    </tbody>
</table>


